.temporary {
  width: 100%;
}
/*app styles*/
.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}
/*LogInAndOut comp styles*/
.log-container {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

/*Header Comp styles*/
.header-container {
  width: 100%;
  height: fit-content;
  display: flex;
}

.header-container header {
  padding-top: 1.5rem;
  margin: auto;
  width: fit-content;
  color: #ff4b4b;
  height: 100%;
  font-size: 40px;
  font-weight: bold;
}

.header-container header span {
  color: #cbcbcb;
}

.header-container header img {
  margin-right: 20px;
  width: 50px;
  height: 60px;
}

/*Footer comp styles*/
footer {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  font-size: 18px;
  pointer-events: none;
}

footer p a {
  pointer-events: all;
  transition: 200ms ease-in-out;
  text-decoration: none;
  color: inherit;
}

footer p a:hover {
  text-decoration: underline;
  color: #ff4b4b;
}

/*LevelCard comp styles*/

/*Choose page styles*/
.choose-container {
  margin: auto;
}

/*Game page styles*/

/*Leaderboads page styles*/
