/*///////////////////////////app styles///////////////////////////*/
.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

/*///////////////////////////LogInAndOut comp styles///////////////////////////*/
.log-container {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.log-button {
  cursor: pointer;
  height: 2.5rem;
  width: 7rem;
  font-size: 18px;
  font-weight: bold;
  transition: 200ms ease;
}

.out,
.in:hover {
  background-color: #cbcbcb;
  border: 1px solid #ff4b4baa;
  color: #ff4b4b;
}

.in,
.out:hover {
  background-color: #ff4b4b;
  border: 1px solid #cbcbcbaa;
  color: #cbcbcb;
}

/*///////////////////////////Header Comp styles///////////////////////////*/
.header-container {
  width: 100%;
  height: fit-content;
  display: flex;
}

.header-container header {
  padding-top: 0.5rem;
  margin: auto;
  padding-left: 7rem;
  width: fit-content;
  color: #ff4b4b;
  height: 100%;
  font-size: 40px;
  text-shadow: 0px 0px 10px #000000aa;
  font-weight: bold;
}

.header-container header span {
  color: #cbcbcb;
}

.header-container header img {
  margin-right: 20px;
  width: 50px;
  height: 60px;
}

/*///////////////////////////Footer comp styles///////////////////////////*/
footer {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  font-size: 18px;
  pointer-events: none;
}

footer p a {
  pointer-events: all;
  transition: 200ms ease-in-out;
  text-decoration: none;
  color: inherit;
}

footer p a:hover {
  text-decoration: underline;
  color: #ff4b4b;
}

/*///////////////////////////LevelCard comp styles///////////////////////////*/
.card-container {
  width: 300px;
  height: 350px;
  background-color: #f73f3f;
  border-radius: 10px;
  border: 1.8px solid #cbcbcbaa;
  box-shadow: 0px 0px 10px #000000aa;
  transition: 200ms ease-in-out;
}

.card-container:hover {
  background-color: #f83737;
  box-shadow: 0px 0px 10px #000000;
}

.card-container img {
  width: 90%;
  margin: 5%;
  height: 150px;
  object-fit: cover;
}

.card-container h3 {
  pointer-events: none;
  font-size: 30px;
  margin: 0;
  padding-left: 15px;
}

.card-container p {
  pointer-events: none;
  padding: 0 15px 0 15px;
}

.card-container button {
  display: block;
  margin: auto;
  cursor: pointer;
  background-color: #333333;
  border: 1px solid #cbcbcbaa;
  box-shadow: 0 0 5px #000000aa;
  color: #cbcbcb;
  font-size: 20px;
  font-weight: bold;
  transition: 200ms ease;
  width: 10rem;
  height: 2.5rem;
}

.card-container button:hover {
  background-color: #cbcbcb;
  color: #333333;
  border: 1px solid #333333aa;
}

/*///////////////////////////Choose page styles///////////////////////////*/
.choose-container {
  margin: auto;
  max-width: 900px;
  width: 85%;
}

.cards-section {
  padding: 40px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.button-section {
  padding: 30px 0 10px 0;
  width: 100%;
}

.button-section button {
  display: block;
  margin: auto;
  cursor: pointer;
  background-color: #cbcbcb;
  border: 1px solid #ff4b4baa;
  width: 50%;
  height: 3rem;
  min-width: 15rem;
  color: #ff4b4b;
  font-size: 25px;
  font-weight: bold;
  transition: 200ms ease;
}

.button-section button:hover {
  color: #cbcbcb;
  background-color: #ff4b4b;
  border: 1px solid #cbcbcbaa;
}

/*///////////////////////////Game page styles///////////////////////////*/
.game-container {
  margin: auto;
}
.game-container img {
  width: 100%;
  object-fit: cover;
  height: auto;
}
.game-inner {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.selection-square {
  width: 20px;
  height: 20px;
  border: 3px solid #ff4b4b;
  background-color: transparent;
  position: absolute;
}
.chars-list-container {
  position: absolute;
  width: 100px;
  height: 100px;
}
.chars-list-item {
  color: #cbcbcb;
  background-color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ff4b4b;
  pointer-events: all;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.chars-list-item:hover {
  background-color: #ff4b4b;
}
.chars-list-item p {
  pointer-events: none;
  padding-left: 10px;
  margin: auto;
}

.found {
  pointer-events: none;
  background-color: #ff4b4b;
  text-decoration: line-through;
  color: #333333;
}

.time-and-found-num {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer {
  font-family: 'Press Start 2P', sans-serif;
  color: #ff4b4b;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.found-number {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #cbcbcb;
  color: #f73f3f;
  width: 3rem;
  height: 3rem;
  pointer-events: none;
}

.found-number p {
  margin: auto;
  margin-top: auto;
  font-size: 25px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

/*///////////////////////////Leaderboads page styles////////////////////////////////*/

/*///////////////////////////Different Screen Sizes///////////////////////////*/
@media (max-width: 750px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-container header {
    padding-left: 0;
  }

  .log-container {
    margin-right: 0;
    padding-top: 20px;
  }

  .cards-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 400px) {
  .choose-container {
    width: 100%;
  }
}
